<h1>me in a nutshell</h1>
<div id="about-content">
  <div id="about-statement">
    <p>To really boil it down: I'm an inquisitive person, happy to talk or learn
      about almost anything.  I will nerd out to the point of social awkwardness should
      I be presented with an opportunity to talk about programming, video games,
      programming video games, comics, table tennis, or mountain biking. I play music
      for a game show at a local bar once a month.
      <br>
      <br>
      I'm a full-stack developer who has been in the web development biz, mostly
      as a partner at <a href="http://wearecirro.com">Cirro</a>, for about 6 years
      now.  I work primarily in Javascript and Ruby, specifically with
      <a href="http://emberjs.com">Ember.js</a> and <a href="http://rubyonrails.com">
      Ruby on Rails</a> along with a host of tools that integrate with those frameworks.
      I enjoy the exploration of design patterns, especially in flexible multi-paradigm
      languages like Ruby and Javascript.  I derive great satisfaction from an orderly
      and communicative Git workflow.
      <br>
      <br>
      I look just like the sprite over yonder, except that in real life my muscles are
      even bigger from all the programming that I do.
    </p>
  </div>
  <div id="invisible-force-field">
   <div id="brandon-sprite"></div>
  </div>
</div>
