<nav>
  <div id="nav-links-container">
    {{link-to 'home' 'index' class="nav-link"}}
    {{link-to 'projects' 'projects' class="nav-link"}}
    {{link-to 'about' 'about' class="nav-link"}}
    {{link-to 'contact' 'contact' class="nav-link"}}
  </div>
</nav>
